[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
reactivated = "==0.37.0"
pillow = "*"
gunicorn = "*"

[dev-packages]
rich = "*"
yapf = "*"

[scripts]
server = "python manage.py runserver"
migarte = "python manage.py migarte"
make = "python manage.py makemigrations"

